.navbar {
  background: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}
.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}
.nav-links {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  &:hover {
    color: white;
    background-color: #1888ff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
}
.menu-icon {
  display: none;
}
@media screen and (max-width: 720px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    color: black;
    font-size: 40px;
    &:hover {
      text-decoration: underline;
      color: black;
      background-color: white;
      border-radius: 0;
    }
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times {
    color: black;
    font-size: 2rem;
  }
  button {
    display: none;
  }
}
